Package: iroffer-dinoex
Version: 3.30-1
Architecture: amd64
Maintainer: unknown <optix2000@teitoku.net>
Installed-Size: 446
Depends: libc6 (>= 2.14), libssl1.0.2 (>= 1.0.2d)
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
